.DS_Store
node_modules
/dist
public/img/posts/featuredImg/*
src/contents/posts.cn.json
src/contents/posts.en.json
src/contents/posts.home.cn.json
src/contents/posts.home.en.json


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
