@tailwind base;

@tailwind components;

@tailwind utilities;

.applyNowBtn::before {
  content: "";
  background: url("../images/applyButtonIcon.svg");
  position: absolute;
  height: 17.41400146484375px;
  width: 10.120999336242676px;
  right: -17.29296875px;
  top: 6.292999267578125px;
  border-radius: 0px;
}
.navItems:after {
  display: block;
  content: "";
  border-bottom: solid 1px #acebb0;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.navItems:hover:after {
  transform: scaleX(1);
}
.navItems.fromRight:after {
  transform-origin: 100% 50%;
}
.navItems.fromLeft:after {
  transform-origin: 0% 50%;
}
.topApplyNow,
.topApplyNow::after {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.topApplyNow::before,
.topApplyNow::after {
  background: linear-gradient(270deg, #53eb45 -20.79%, #133706 90.53%);
  content: "";
  position: absolute;
  z-index: -1;
}
.topApplyNow::after {
  height: 100%;
  left: 0;
  top: 0;
  width: 0;
  border-radius: 0.25rem;
}
.topApplyNow:hover:after {
  width: 100%;
}
.topApplyNow:hover {
  border: 2px solid #020518;
}
.bodyLeftSticky::-webkit-scrollbar {
  display: none;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

/* Scroll margin top */
.scroll-element {
  scroll-margin-top: 60px;
}
.parent-scroll-element {
  scroll-margin-top: 40px;
}
.font-parrotGreen {
  color: #93da97;
}
.font-highlighted {
  color: #ffffff;
}

.customList > li::before {
  content: "• ";
}

.font-bold {
  font-weight: bold;
}

.navigation-bar {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  height: 110px;
  display: flex;
  justify-content: space-between;
}

.header-wrapper {
  width: 100%;
}

#md-content p img {
  max-width: 50%;
}

.etclogo {
  margin-top: 24px !important;
}

.md-link-gray {
  @apply font-roboto pl-4 text-textColor text-base md:text-heroTextMobile md:leading-thirtyThree underline !important;
}

#md-content p {
  @apply pb-6 font-roboto text-textColor text-base md:text-heroTextMobile md:leading-thirtyThree;
}

#md-content ul {
  @apply font-roboto pb-6 pl-4 text-textColor text-base md:text-heroTextMobile md:leading-thirtyThree;
}

#md-content h1 {
  @apply pb-6 font-notoSans text-headingsColor text-thirtyTwo md:text-fourty leading-rightHeadingsDt font-bold;
}

#md-content h2 {
  @apply pb-6 pt-6 text-headingsColor font-notoSans text-headingsColor text-twentyFour leading-thirtySix md:text-thirtyTwo md:leading-rightHeadingsDt font-bold font-parrotGreen;
}

#md-content h3 {
  @apply pb-6 font-roboto text-textColor text-base md:text-heroTextMobile md:leading-thirtyThree font-parrotGreen font-bold;
}

#md-content a {
  @apply cursor-pointer underline text-parrotGreen;
}

#md-content strong {
  @apply pb-6 font-roboto text-textColor text-base md:text-heroTextMobile md:leading-thirtyThree font-highlighted font-bold underline;
}

.nav-header {
  @apply hidden lg:block font-roboto font-semibold text-textColor text-lg my-auto navItems hover:text-headingsColor transition duration-700;
}

.md-img-full {
  max-width: 100% !important;
}

.main-logo, .mobile-size-img-main-logo {
  width: 200px;
  height: 52px;
}

.apply-now-btn {
  width: 140px;
}

@media (min-width: 450px) and (max-width: 900px) {
  .etc-grants-dao-media-wrapper {
    margin-top: 1.25rem;
  }
}

@media (max-width: 450px) {
  .mobile-logo-width {
    width: 50%;
  }

  .sponsor, .grants-dao {
    display: flex;
    justify-content: space-between;
  }

  .mobile-size-img, .mobile-size-img-main-logo {
    width: 90%
  }

  .sponsor div {
    margin-top: 0;
  }

  .grants-dao-title {
    margin-bottom: 5px;
  }

  .etc-grants-dao-media-wrapper a {
    padding-top: 17px;
  }

  .etc-grants-dao-media-wrapper {
    align-items: center;
  }
}

@media (max-width: 600px) {
  #md-content p img {
    max-width: 100%;
  }
}

.md-watermark {
  position: relative;
}

.md-watermark::before {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("../images/watermark.png");
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;  
  z-index: -1;
}

.learnMoreLinks a {
  display: flex;
  width: 49%;
  border-bottom: 1px solid rgba(123, 125, 130, 0.25);
  position: relative;
  padding: 18px 20px 18px 0px;
  color: #fff;
  font-family: var(--Noto_sans);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.36px;
  text-decoration: none;
  margin-bottom: 16px;
}

.learnMoreLinks a:after {
  content: "";
  width: 24px;
  height: 24px;
  /* background: url(@/assets/images/arr-left.png); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  right: 0px;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.blogDetailsContent p {
  font-family: var(--Noto_sans);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.blogDetailsContent p a {
  color: #22c55e;
}

.blogDetailsContent ul {
  padding: 0px;
  list-style: none;
}

.blogDetailsContent ul li {
  position: relative;
  padding-left: 40px;
  margin-bottom: 10px;
  font-family: var(--Noto_sans);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.blogDetailsContent ul li b {
  font-weight: 700;
}

.blogDetailsContent ul li::before {
  content: "";
  position: absolute;
  left: 0px;
  width: 24px;
  height: 24px;
  background: url(@/assets/images/tick-sm.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media (max-width: 600px) {
  .md-watermark::before {
    background-size: 1000px 500px;
  }
}

.mainContainer {
  max-width: 1266px !important;
  width: 100%;
  margin: 0 auto !important;
  padding-right: 32px !important;
  padding-left: 32px !important;
}

.newsCard {
  margin: 0px 0px 32px;
  border-radius: 5px;
  overflow: hidden;
}

.newsCard .newsCardContent {
  padding: 100px 0px 0px;
}

.newsCard .newsCardContent h4 {
  font-family: var(--Noto_sans);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  margin: 0;
}

.newsCard .newsCardContent h5,
.newsCard .newsImgOverContent h5 {
  font-family: var(--Noto_sans);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #22c55e;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.newsCard .newsCardContent h5 span,
.newsCard .newsImgOverContent h5 span {
  font-family: var(--Noto_sans);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
}

.newsCard .newsCardContent h5 span.dot,
.newsCard .newsImgOverContent h5 span.dot {
  color: #fff;
  margin: -10px 10px 0px;
}

.newsCard .newsImgOverContent h5,
.newsCard .newsImgOverContent h5 span {
  color: #fff;
}

.newsCard .newsCardContent p {
  font-family: var(--Noto_sans);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  margin-top: 18px;
}

.newsCard .newsCardContent2 {
  max-width: 330px;
  width: 100%;
}

.newsCardHeroImg {
  height: 576px;
}

.newsCardHeroImg img {
  height: 485px !important;
}

.newsCardImg {
  height: 200px;
  object-fit: cover;
}

.newsCardLg {
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.newsCardLg .newsImgOverContent {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 24px;
}

.newsCardLg h4 {
  font-family: var(--Noto_sans);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 18px;
}

.newsCardLg p {
  font-family: var(--Noto_sans);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  margin-bottom: 0px;
}

.newsCardLg::before {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg,
      rgba(217, 217, 217, 0) 0%,
      #000000 94.23%);
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
}