@tailwind base;

@tailwind components;

@tailwind utilities;

.applyNowBtn::before {
  content: "";
  background: url("../images/applyButtonIcon.svg");
  position: absolute;
  height: 17.41400146484375px;
  width: 10.120999336242676px;
  right: -17.29296875px;
  top: 6.292999267578125px;
  border-radius: 0px;
}
.navItems:after {
  display: block;
  content: "";
  border-bottom: solid 1px #acebb0;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.navItems:hover:after {
  transform: scaleX(1);
}
.navItems.fromRight:after {
  transform-origin: 100% 50%;
}
.navItems.fromLeft:after {
  transform-origin: 0% 50%;
}
.topApplyNow,
.topApplyNow::after {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.topApplyNow::before,
.topApplyNow::after {
  background: linear-gradient(270deg, #53eb45 -20.79%, #133706 90.53%);
  content: "";
  position: absolute;
  z-index: -1;
}
.topApplyNow::after {
  height: 100%;
  left: 0;
  top: 0;
  width: 0;
  border-radius: 0.25rem;
}
.topApplyNow:hover:after {
  width: 100%;
}
.topApplyNow:hover {
  border: 2px solid #020518;
}
.bodyLeftSticky::-webkit-scrollbar {
  display: none;
}
html {
  scroll-behavior: smooth;
}
